.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 2);
  }
}

.card-title {
  font-family: "Avenir Next", serif;
  font-weight: 600;
}

.card-img-overlay {
  top: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  z-index: 1;
}

.img-gradient {
  position: relative;
  display: inline-block;
}

.img-gradient::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent 0%, #212529b8 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: "";
}

.img-gradient img {
  display: block;
}

#collapse-details.collapse.show {
  display: flex;
}
